main {
      max-width: 800px;
      margin: 1em;
      padding: 1em;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      color: #000000;
      text-align: center;
      /* Ajout de cette propriété pour centrer le texte */
}

h2 {
      color: rgb(161, 0, 99);
      cursor: pointer;
}

p {font-size: 1.2em;
      line-height: 1.6;
}

main>img {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
      margin-bottom: 20px;
}

section {
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
}

.membre-equipe {
      text-align: center;
      flex: 1;
      /* Utilisez flex pour permettre à chaque membre de prendre autant d'espace que nécessaire */
      margin: 1em;
      /* Ajout de marge pour l'espace entre les membres */
}

.membre-equipe img {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      object-fit: cover;
      margin-bottom: 10px;
}

.membre-equipe h3,
.membre-equipe p {
      margin: 0;
}

.membre-equipe p {
      font-size: 1.4em;
      font-style:italic; font-weight:bold;
}

.membre-equipe h3{
      font-size: 1.2em;
      font-weight:100 ;
}

@media screen and (min-width: 768px) {
      main {
            max-width: 90vw;
            margin: 1em 7em ;
            padding: 2em;
            /* Ajout de cette propriété pour centrer le texte */
      }

      .membre-equipe img {
            width: 200px;
            height: 200px;
            
      }

      .membre-equipe p {
            font-size: 1.4em;
            font-style:italic; font-weight:bold;
      }

      .membre-equipe h3{
            font-size: 1.2em;
            font-weight:100 ;
      }
}